In [1]:
import pandas as pd
import numpy as np
arr = np.array(['P','a','n','d','a','s'])
a = pd.Series(arr)
print("Series from array:")
print(a)

Series from array:
0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [2]:
arr = {'x' : 0., 'y' : 1., 'z' : 2.}
b = pd.Series(arr)
print("\n\nSeries from dictionary:\n")
print (b)

Series from dictionary:

x    0.0
y    1.0
z    2.0
dtype: float64

In [3]:
x = pd.Series(4, index=[0, 1, 2, 3])
print("\nSeries using scalar\n")
print (x)

Series using scalar

0    4
1    4
2    4
3    4
dtype: int64

In [4]:
x = pd.Series([1,2,3],index = ['a','b','c'])
print("\nSeries through index:")
print (x)

Series through index:
a    1
b    2
c    3
dtype: int64

In [5]:
a=pd.Series(data=[1,2,3,4])
print("\n a series:\n",a)

 a series:
 0    1
1    2
2    3
3    4
dtype: int64

In [6]:
print("\nIndex: \n",a.index)

Index:
 RangeIndex(start=0, stop=4, step=1)

In [7]:
print("\nValues: \n",a.values)

Values:
 [1 2 3 4]

In [8]:
print("\nShape: ",a.shape)

Shape:  (4,)

In [9]:
print("\nDimension: ",a.ndim)

Dimension:  1

In [10]:
print("\nSize: ",a.size)

Size:  4

In [11]:
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [12]:
emp = pd.Series(['Parker', 'John', 'Smith',
'William'])
id =pd.Series([102, 107, 109, 114])
frame = { 'Emp': emp, 'ID': id }
result = pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [13]:
print("\n Extracting one column :\n")
print(result['Emp'])

 Extracting one column :

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [14]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [15]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [24]:
d2 = pd.DataFrame([['Dale', 123, 25],['Mark', 143, 30]], columns =['Emp','ID','Age'])
print("\nAdding new row values:\n",result.append(d2))

Adding new row values:
        Emp   ID   Age
0   Parker  102   NaN
1     John  107   NaN
2    Smith  109   NaN
3  William  114   NaN
0     Dale  123  25.0
1     Mark  143  30.0

C:\Users\Tcs\AppData\Local\Temp\ipykernel_12084\3222880518.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new row values:\n",result.append(d2))

In [17]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [25]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   Parker  102
2    Smith  109
3  William  114

In [26]:
print("DataFrame.apply function:\n")
info = pd.DataFrame([[2, 7]]*3 , columns=['P', 'Q'])
print("\nOriginal DataFrame:\n",info)

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

In [27]:
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

In [28]:
print("\nSum of each column:\n",info.apply(np.sum, axis=0))

Sum of each column:
 P     6
Q    21
dtype: int64

In [29]:
print("\nSum of each row:\n",info.apply(np.sum, axis=1))

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [33]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]], columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [34]:
print("\nDataFrame.Assign function:\n")
d2 = pd.DataFrame([['Dale', 123], ['Mark', 143]], columns = ['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)

d2['Age']=[35,40]
print("\nAdding new column:\n",d2)

d=d2.assign(Sex=['Male','Male'])
print("\nAdding new column:\n",d)

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [5]:
import pandas as pd
import numpy as np
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),
index=[3,2,0,4,1],columns = ['col3','col4'])
print(info)

DataFrame.Sort function:

       col3      col4
3 -0.003807 -0.041092
2  0.781606  1.432012
0  0.026937 -0.622998
4 -0.785402 -1.404146
1 -0.691955 -1.498722

In [6]:
info2=info.sort_index()
print("\nsort index:\n",info2)

sort index:
        col3      col4
0  0.026937 -0.622998
1 -0.691955 -1.498722
2  0.781606  1.432012
3 -0.003807 -0.041092
4 -0.785402 -1.404146

In [7]:
info3=info.sort_values(by='col3')
print("\nsort values:\n",info3)

sort values:
        col3      col4
4 -0.785402 -1.404146
1 -0.691955 -1.498722
3 -0.003807 -0.041092
0  0.026937 -0.622998
2  0.781606  1.432012

In [11]:
import pandas as pd
import numpy as np
print("\ndataframe.merge function:\n")

dataframe.merge function:

In [14]:
left=pd.DataFrame({'id':[1,2,3,4,5],
    'name':['Alex','Amy','Allen','Alice','Ayoung'],
    'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)

   id    name   sub
0   1    Alex  sub2
1   2     Amy  sub4
2   3   Allen  sub3
3   4   Alice  sub6
4   5  Ayoung  sub5

In [17]:
right=pd.DataFrame({'id':[1,2,3,4,5],
    'name':['Billy','Brian','Bran','Bryce','Betty'],
    'sub':['sub2','sub4','sub3','sub6','sub5']})
print(right)

   id   name   sub
0   1  Billy  sub2
1   2  Brian  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5

In [18]:
print(pd.merge(left,right,on='id'))

   id  name_x sub_x name_y sub_y
0   1    Alex  sub2  Billy  sub2
1   2     Amy  sub4  Brian  sub4
2   3   Allen  sub3   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5

In [ ]:
00